[include]
	path = ./.gitconfig.local
	path = ./.gitconfig.local.os
	path = ./.gitconfig.local.user

[alias]
	code = !code -n ${GIT_WORK_TREE:-.}
	alt-back = "!f() { cp() { git cat-file blob :.${2#$PWD} > $2.BASE; git merge-file -L common -L base -L local $2 $2.BASE $3; [ $? -gt 0 ] && echo ""There were conflits on $2"" >&2; rm -f $2.BASE; }; export -f cp; yadm alt >/dev/null; }; f"

[core]
	autocrlf = false
	editor = code --wait

[fetch]
	prune = true

[pull]
	ff = only

[push]
	autoSetupRemote = true

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode
	conflictStyle = diff3

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
